.app-angular-header {
  padding: 1.7rem 4.8rem 0 4.8rem;
}

.app-angular {
  padding: 1.7rem 4.8rem 0 4.8rem;
  justify-content: center;
  width: 100%;
  display: flex;
}

.app-angular > .card:not(:first-child) {
  margin-left: 2rem;
}

.angular-container {
  background-color: #121214;
}

.angular-title {
  color: #C4C4CC;
}
